#footer .footer_content{
    padding: 0 22px;
    padding: 0 1.543859649122807vw;
}
#footer .footer_content nav{
    padding-top: 20px;
    padding-top: 2.604166666666667vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#footer .footer_content nav h3{
    font-family: 'Play';
    font-weight: 700;
    line-height: 16px;
    line-height: 2.083333333333333vh;
    margin-bottom: 30px;
}
#footer .footer_content nav ul li{
    font-size: 14px;
    margin-bottom: 9.6px;
    margin-bottom: 1.25vh;
}
#footer .footer_content nav ul li:hover{
    text-decoration: underline;
}
#footer .footer_content nav .sns li{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 16px;
}