.seasonOff{
    margin-top: 120px;
    margin-top: 12.5vh;
}
.seasonOff h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.seasonOff h3{
    font-size: 16px;
    margin-bottom: 30px;
}
.seasonOff ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.seasonOff li{
    width: 280px;
    height: 370px;
    height: 38.54166666666667vh;
    border: 1px solid #fff;
    cursor: pointer;
}
.seasonOff li:hover{
    border: 1px solid #000;
}
.seasonOff li div{
    position: relative;
}
.seasonOff li div img{
    width: 100%;
}
.seasonOff li div h4{
    font-size: 14px;
    font-weight: 600;
}
.seasonOff li div h4:nth-child(2){
    font-size: 16px;
    position: absolute;
    right: 10px;top: 10px;
}
.seasonOff li div h4:nth-child(3){
    position: absolute;
    bottom: 30px;
    background: #fff;
    width: 40px;
    height: 20px;
    margin-left: 5px;
    line-height: 20px;
    text-align: center;
    transition: all 0.3s;
}
.seasonOff li:hover h4:nth-child(3),
.seasonOff li:hover div p{
    transform: translateY(-10px);
}
.seasonOff li div p{
    position: absolute;
    bottom: 5px;
    background: #fff;
    width: 140px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: all 0.3s;
}
.seasonOff li p{
    color: #767677;
    font-size: 14px;
    margin-left: 5px;
}
.seasonOff li div p .redPrice{
    color: #e32b2b;
}
.seasonOff li h5{
    font-size: 14px;
    margin: 15px 0 15px 5px;
}