.container {
    width: 90%; height: 90vh; margin: 0 auto;
}
.search-container {
    width: 420px;
    margin: 30px auto;
    display: flex;
}
.search-container input {
    width: 360px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
.search-container button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 24px;
    background-color: #0ae;
    color: #fff;
    cursor: pointer;
}

.weather-contents {
    width: 400px;
    margin: 60px auto;
    text-align: center;
}
.area-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.weather-now {
    width: 160px;
    margin: 0 auto 30px;
}
.weather-now img {
    width: 100%;
}
.weather-contents p {
    margin-bottom: 30px;
}
.temp-now {
    font-size: 20px;
}
.main-temp {
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
}
.temp-low, .temp-high {
    font-weight: bold;
    color: blue;
}
.temp-high {
    color: red;
}