@charset "utf-8";
/* 오전 오후 아이콘 클래스 */
body.day {
  background: linear-gradient(45deg, #a0956f, #f74e4e);
}
body.night {
  background: linear-gradient(45deg, #3b1436, #6653bb);
}
/* 로딩 애니메이션 */
img[src$="load.gif"]{
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
}

.weatherImg {
  width: 160px;
}

#wrap {
  font-family: 'SUIT', sans-serif;
  letter-spacing: -1px;
  margin: 0 auto;
  min-width: 600px;
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 32px;
}

#wrap section {
  padding: 32px 60px !important;
  background: rgba(255,255,255,0.12);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
  border: 1px solid #999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

#wrap .weatherIcon {
  font-size: 120px;
  margin-bottom: 40px;
}

#wrap div {
  margin-bottom: 24px;
  font-size: 18px;
  color: #eee;
}

#wrap h2 {
  margin-bottom: 36px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

#wrap .weather div:nth-child(2) {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.formBox {
  display: flex;
  justify-content: center;
  margin-bottom: 0px !important;
}

.formBox form {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

form input {
  background: #fff;
  outline: none;
  border: 1px solid #ddd;
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  height: 28px;
  margin-right: 4px;
}

form button {
  height: 28px;
  background-color: #fff;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button img {
  width: 80%;
}

.areaList {
  width: 203px;
  margin-top: 8px;
  padding: 4px;
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#wrap h6 {
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 40px;
}