@import 'reset.css';

body {
    -ms-overflow-style: none;
}
::-webkit-scrollbar 
{ 
    display: none;
} 

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Header */
.header-container {
    background-color: rgba(3, 37, 65, 1);
}

.header-wrap {
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 16px;
}

.header-left-wrap li {
    margin-right: 14px;
    padding: 8px;
}

.header-nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}

.movies-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 250px;
    margin: 16px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.movie-container img {
    max-width: 100%;
}

.movie-info {
    padding: 16px;
}

.movie-info h4 {
    font-size: 14px;
    font-weight: 600;
}

.movie-info p {
    margin-top: 8px;
    font-size: 14px;
}

.detail-container {
    margin-top: 40px;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.info-container {
    max-width: 1400px;
    margin: 25px auto;
    display: flex;
    z-index: 2;
}

.detail-info {
    padding: 20px;
    color: #fff;
}

.detail-info h2 {
    font-size: 32px;
    font-weight: 600;
}

.detail-info h3 {
    font-size: 20px;
}

.detail-info p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.red-point {
    color: red;
    font-size: 18px;
    font-weight: 600;
}

.curtain{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;top: 0;
    z-index: 1;
    background: rgb(3, 37, 65);
    opacity: 0.7;
}