@import 'reset.css';

body {
    -ms-overflow-style: none;
}
::-webkit-scrollbar 
{ 
    display: none;
} 

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Header */
.header-container {
    background-color: rgba(3, 37, 65, 1);
}

.header-wrap {
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 16px;
}

.header-left-wrap li {
    margin-right: 14px;
    padding: 8px;
}

.header-nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.page-container {
    max-width: 1400PX;
    margin: 0 auto;
    padding: 32px 0;
}

.movies-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 250px;
    margin: 16px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.movie-container img {
    max-width: 100%;
}

.movie-info {
    padding: 16px;
}

.movie-info h4 {
    font-size: 14px;
    font-weight: 600;
}

.movie-info p {
    margin-top: 8px;
    font-size: 14px;
}